.screen
  min-height 600px
  &.s0

    background: linear-gradient(135deg, #ee7c8a 0%,#fbcda6 100%)
    .screen__inner
      padding 240px 200px 90px 180px
    .logo
      position absolute
      top 80px
      left 180px
      background url() 50% no-repeat
      background-size cover
      height 44px
      width 188px
    .callback
      position absolute
      top 80px
      right 200px
      text-align right
    .tel
      color #fff
      font 30px/1 $roboto-c
      &:hover, &:active
        text-decoration underline
    .call-me
      background: linear-gradient(90deg, #cf3b42 0%,#e53d47 100%)
      border-radius 22px
      color #fff
      display block
      font 14px/42px $roboto
      letter-spacing .05em
      height 44px
      margin .8em auto 0
      text-align center
      text-transform uppercase
      width 200px
    h1
      color #fff
      font 44px/50px $roboto-c
      margin 0
      width 470px
    p
      color #fff
      font 300 22px/1.2 $roboto
      margim .5em 0 0
    .order
      border 2px solid #fff
      border-radius 22px
      color #fff
      display inline-block
      font 14px/1 $roboto
      letter-spacing .05em
      margin 2em auto 0
      padding 13px 34px
      text-align center
      text-transform uppercase


  &.s2
    background: linear-gradient(135deg, #45c7df 0%,#18fdaa 100%)

  &.s4
    background: linear-gradient(135deg, #5c5eb5 0%,#b45bab 100%)

  &.s6
    background: linear-gradient(135deg, #f68c02 0%,#f6d202 100%)


  &__inner
    margin 0 auto
    max-width 1400px
    position relative
    width 100%

.footer
  background: linear-gradient(135deg, #b72c33 0%,#e53d47 100%)
