head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Сантехника TECE – сайт официального дилера на территории РФ. Каталог сантехники и сантехнических систем ТЕСЕ из Германии
  meta(name='description', content='Продажа сантехники TECE от официального дилера в Москве. Цены на сантехнические системы ТЕСЕ из Германии.')
  meta(name='viewport', content='width=1280')
  link(rel='stylesheet', href='css/main.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
