doctype html

html
  include blocks/top_head
  body
    .modal-form#callback.mfp-hide
      form#callback-form
        p.modal-form__title Обратный звонок
        p.modal-form__subtitle Если у вас есть какие-либо вопросы или вы хотите оформить заявку, пожалуйста, свяжитесь с нами, используя форму ниже.
        .modal-form__group
          label(for='m_name')
            | Ваше имя <span>*</span>
          input(type='text' id='m_name' name='m_name' required)
        .modal-form__group  
          label(for='m_phone')
            | Телефон <span>*</span>
          input(type='text' id='m_phone' name='m_phone' required)
        .modal-form__group
          label(for='m_message')
            | Ваше сообщение
          textarea(id='m_message' name='m_message')
        .modal-form__group.captcha
          label(for='m_captcha')
            | Введите символы <span>*</span>
          div
            img(src='http://placehold.it/135x70' alt='')
            input(type='text' id='m_captcha' name='m_captcha' required)
        p.modal-form__required-text <span>*</span> поля являются обязательными для заполнения
        button.btn Оставить заявку
    .container    
      .screen.s0.service
        .screen__inner
          .logo
          h1 404
          p К сожалению, запрашиваемой Вами страницы или файла не существует на сайте.
          p Если Вы уверены в правильности набранного адреса страницы и считаете, что эта ошибка произошла по нашей вине, пожалуйста, сообщите об этом службе технической поддержки по <a href=''>электронной почте</a>.
          .callback
            a(href='tel:+74954208174').tel +7 (495) 420-81-74
            a(href='#callback').call-me.btn Заказать звонок
          .service-bg
        
      footer.footer
        .screen__inner
          a(href='#').footer-logo
          .footer-block
            .footer-block__title ELVA Group
            ul.footer-block__address
              li.city МОСКВА
              li: a(href='tel:+74954208174') Тел.: +7 (495) 420-81-74
              li: a(href='mailto:info@elvatouch.ru') info@elvatouch.ru
              
          .footer-block
            .footer-block__title Эмпайр <span>Региональный партнер</span>
            ul.footer-block__address
              li.city ПЕРМЬ
              li: a(href='tel:+73422598844') Тел.: +7 (342) 259-88-44
              li: a(href='mailto:info@elvatouch.ru') info@elvatouch.ru
            
          ul.footer-social
            li.fb: a(href='#') <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><path d="M21.359 16.35v-1.465c0-.702.474-.87.81-.87h2.045v-3.13H21.39c-3.131 0-3.833 2.32-3.833 3.818v1.648H15.74V20h1.832v9.116h3.648V20h2.703l.123-1.435.213-2.214h-2.901z" fill-rule="evenodd"/></svg>
            li.vk: a(href='#').
              <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><path d="M18.411 24.693c1.832 0 4.095.314 4.135-1.848.041-2.255-2.325-1.848-4.134-1.848v3.696zm.001-8.218v1.928c1.672 0 3.243.23 3.243-1.654 0-1.745-1.778-1.457-3.245-1.457l.002 1.183zm-3.528-3.904h6.491c2.137 0 3.955 1.088 3.953 3.287-.002 1.836-.642 2.55-1.956 3.36.112.095.865.329 1.119.458.404.208.642.417.91.699.744.787.885 1.507.885 2.744 0 2.867-2.67 4.31-5.239 4.31h-6.19l.027-14.858z" fill-rule="evenodd"/></svg>
            li.in: a(href='#').
              <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <g fill-rule="evenodd"><path d="M15.908 12.128a3.783 3.783 0 0 0-3.78 3.78v8.184a3.784 3.784 0 0 0 3.78 3.78h8.185a3.784 3.784 0 0 0 3.779-3.78v-8.185a3.783 3.783 0 0 0-3.78-3.779h-8.184zM24.093 29.5h-8.185a5.414 5.414 0 0 1-5.407-5.408v-8.185a5.413 5.413 0 0 1 5.407-5.407h8.185a5.414 5.414 0 0 1 5.407 5.407v8.185a5.415 5.415 0 0 1-5.407 5.408z"/><path d="M20 16.764A3.24 3.24 0 0 0 16.764 20 3.24 3.24 0 0 0 20 23.237 3.24 3.24 0 0 0 23.236 20 3.24 3.24 0 0 0 20 16.764m0 8.102A4.87 4.87 0 0 1 15.135 20 4.87 4.87 0 0 1 20 15.136 4.87 4.87 0 0 1 24.864 20 4.87 4.87 0 0 1 20 24.866M26.242 14.857a1.169 1.169 0 1 1-2.337 0 1.169 1.169 0 0 1 2.337 0"/></g>
              </svg>

    script(src='js/main.js')


          
          
              
        
        
            
          
          
        
