doctype html

html
  include blocks/top_head
  body
    .screen.s0
      .screen__inner
        .logo
        h1 Детские интерактивные комплексы ELVATouch
        p Для тех, кто вам действительно дорог!
        a(href='#').order.btn Заказать
        .callback
          a(href='#').tel +7 (495) 420-81-74
          a(href='#').call-me.btn Заказать звонок
    .screen.s1
      .screen__inner
        .products
          ul.products-button
            li.blue
            li.red
          .products-item
            img(src='')
            .products-item__sticker Модель стола <span>ПаучОК</span>
            
          .products-item
            img(src='')
            .products-item__sticker Модель стола <span>ТеремОК</span>
            
        .info
          h2.count-head Что такое детские интерактивные комплексы ELVATouch
          .wysiwyg
            p Уникальное решение, имеющее огромные возможности по его использованию в различных областях: от обучения и развития детей до создания и налаживания успешных бизнес-процессов. 
          a(href='#').presentation-download  
    .screen.s2
      .screen__inner
        h2.count-head Основные области применения
        .area-slider
          .area-slider__prev
          .area-slider__next
          .area-slider__wrap
            .area-slider__item
              .wysiwyg
                h5 Успешный бизнес
                p Детские интерактивные комплексы ELVATouch – идеальный инструмент повышения лояльности к вашему предприятию и налаживания успешного бизнес-процесса.
                ul
                  li Прекрасная альтернатива или дополнение к детскому уголку
                  li Позволяет обеспечить комфортное пребывание
                  li Помогает сфокусировать родителей на ваших товарах и услугах
                  li Способствует увеличению прибыли
                  li Дополнительная рекламная площадка
              .item-img
                img(src='')
                    
            .area-slider__item
              .wysiwyg
                h5 Развлечение и досуг
                p Детские интерактивные комплексы ELVATouch – это возможность использования безграничного числа игровых приложений, ориентированных на разный возраст.
                ul
                  li Новый формат обучающего развлечения – развлекая, развиваем!
                  li Незабываемое удовольствие от использования
                  li Игра, способная расти и меняться вместе с ребенком

              .item-img
                img(src='')
                    
            .area-slider__item
              .wysiwyg
                h5 Образование и развитие детей
                p Детские интерактивные комплексы ELVATouch – результат кропотливой работы с детскими психологами, методистами дошкольного образования и квалифицированными разработчиками программных продуктов
                ul
                  li Позволяет увеличить количество используемых методик
                  li Делает процесс обучения эффективны и запоминающимся
                  li Индивидуализирует подход при групповых занятиях
                  li Развивает у детей практические и социально-коммуникативные навыки

              .item-img
                img(src='')
                    
    .screen.s3
      .screen__inner
        h2.count-head Преимущества, которые  мы гарантируем
        .benefits-slider
          .benefits-slider__prev
          .benefits-slider__next
          .benefits-slider__wrap
            .benefits-slider__item
              .item-icon
              .item-img
                img(src='')
              .wysiwyg
                h5 Качественный программный продукт
                p Мы тесно сотрудничаем с квалифицированными специалистами в различных сферах образования, развития и развлечения детей. Мы предоставляем широкий ассортимент качественных программных продуктов как для многопользовательского, так и для индивидуального применения. 
                p Мы проконсультируем вас по вопросам подбора программного обеспечения или разработаем продукт, ориентированный под ваши задачи.

                
            .benefits-slider__item
              .item-icon
              .item-img
                img(src='')
              .wysiwyg
                h5 Безопасность использования
                p Детские интерактивные комплексы ELVATouch продуманы до мелочей! 
                p Программная оболочка ограничивает доступ к настройкам, защищая от запуска нежелательных приложений. Корпуса изготовлены из натуральных материалов и не имеют острых углов. Встроенный сенсорный экран надежно защищен закаленным стеклом.  
                
            .benefits-slider__item
              .item-icon
              .item-img
                img(src='')
              .wysiwyg
                h5 Комфорт
                p Интерактивные комплексы ELVATouch – это готовые к использованию решения. 
                p Их применение и обслуживание не потребует дополнительных усилий с вашей стороны.
                
            .benefits-slider__item
              .item-icon
              .item-img
                img(src='')
              .wysiwyg
                h5 Индивидуальный подход
                p Нам не все равно! Мы учтем все ваши пожелания и предложим решение, способное удовлетворить ваши требования. 
                p При необходимости, предоставим демонстрационный образец и проведем тренинг по его использованию. Для нас важен каждый клиент.
                
            .benefits-slider__item
              .item-icon
              .item-img
                img(src='')
              .wysiwyg
                h5 Разнообразие модельного ряда
                p Мы предлагаем на выбор несколько дизайнов корпуса с разными диагоналями, вариантами программной оболочки и широким выбором цветовых решений. 
                p По запросу конструкции комплексов могут брендироваться.
                
            .benefits-slider__item
              .item-icon
              .item-img
                img(src='')
              .wysiwyg
                h5 Качественный программный продукт
                p Многолетний опыт и профессионализм наших сотрудников позволяет нам обеспечить высокий уровень вашего обслуживания: от получения заявки до логистики, гарантированного обслуживания и технической поддержки.
                
    .screen.s4
      .screen__inner
        h2.count-head Образовательно-развлекательные комплексы ELVATouch
        .wysiwyg
          p Емкие по содержанию и областям применения! 
        a(href='#').prod-desc Описание программных продуктов  
        .photo-slider
          .photo-slider__prev
          .photo-slider__next
          .photo-slider__wrap
            a(href='#').photo-slider__item
              img(src='')
              
            a(href='#').photo-slider__item
              img(src='')
              
            a(href='#').photo-slider__item
              img(src='')
              
            a(href='#').photo-slider__item
              img(src='')
              
              
    .screen.s5
      .screen__inner
        h2.count-head Что говорят об интерактивных комплексах ELVATouch
        .comment-slider
          .comment-slider__prev
          .comment-slider__next
          .comment-slider__wrap
            .comment-slider__item
              .item-img
                img(src='')
              .item-info
                p.name Сергей Шарапов
                p.position Управляющий рестораном «Корчма»
                p Мы предоставляем широкий ассортимент качественных программных продуктов как для многопользовательского, так и для индивидуального применения.  Мы проконсультируем вас по вопросам подбора программного обеспечения или разработаем продукт, ориентированный под ваши задачи.
                
            .comment-slider__item
              .item-img
                img(src='')
              .item-info
                p.name Сергей Шарапов
                p.position Управляющий рестораном «Корчма»
                p Мы предоставляем широкий ассортимент качественных программных продуктов как для многопользовательского, так и для индивидуального применения.  Мы проконсультируем вас по вопросам подбора программного обеспечения или разработаем продукт, ориентированный под ваши задачи.
                
            .comment-slider__item
              .item-img
                img(src='')
              .item-info
                p.name Сергей Шарапов
                p.position Управляющий рестораном «Корчма»
                p Мы предоставляем широкий ассортимент качественных программных продуктов как для многопользовательского, так и для индивидуального применения.  Мы проконсультируем вас по вопросам подбора программного обеспечения или разработаем продукт, ориентированный под ваши задачи.
                
    .screen.s6
      .screen__inner
        h2.count-head Оставьте номер Вашего телефона или e-mail
        form.feedback-form
          input(type='text' name='name' placeholder='Ваше имя' required)
          input(type='text' name='name' placeholder='Телефон')
          input(type='text' name='name' placeholder='E-mail')
          button Оформить заявку
          
          
    .screen.s7
      .screen__inner
        h2.count-head Как стать нашим партнером?
        .wysiwyg
          p Рынок программного обеспечения и сенсорных технологий для использования в сферах образования, развития и развлечения детей успешно развивается. Хотите зарабатывать вместе с нами? Мы открыты к взаимовыгодному сотрудничеству!
          p Если вы решили стать партнером компании ELVA Group, напишите на электронную почту <a href='mailto:info@elvatouch.ru'>info@elvatouch.ru</a> или позвоните нам по телефону <a href='tel:+74954208174'>+7 (495) 420-81-74</a>.
          p Мы предоставим всю необходимую информацию по данному вопросу.
        
    footer.footer
      .screen__inner
        .footer-logo
        .footer-block
          .footer-block__title ELVA Group
          ul.footer-block__address
            li МОСКВА
            li Тел.: +7 (495) 420-81-74
            li info@elvatouch.ru
            
        .footer-block
          .footer-block__title Эмпайр
          .footer-block__subtitle Региональный партнер
          ul.footer-block__address
            li ПЕРМЬ
            li Тел.: +7 (342) 259-88-44
            li info@elvatouch.ru
          
        ul.footer-social
          li.fb: a(href='#')
          li.vk: a(href='#')
          li.in: a(href='#')
          
          

    script(src='js/main.js')


          
          
              
        
        
            
          
          
        
